.text-centered {
    text-align: center;
}

.div-centered {
    margin: auto;
}

table {
    text-align: left;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding-top: 4px;
    padding-bottom: 4px;

    padding-left: 8px;
    padding-right: 8px;

    min-width: 50px;
    max-width: 600px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}